<!-- Main jumbotron for a primary marketing message or call to action -->
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <div class="jumbotron">
        <h1>Todo App</h1>
        <p>This is a Simple Cloud Based Todo App</p>
        <p><div id="signinButton">
            <span class="g-signin"
                data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
                data-clientid="1027187169589-etnigni4qe7fgm5m09bjnag975lvq681.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback">
            </span>
        </div>
    </div>